{% extends 'base.html' %}

{% block title %}Auctions | {{ title }} {% endblock %}

{% block categories %}
    <!-- Divider -->
    <hr class='sidebar-divider'>
    
    <!-- Heading -->
    <div class='sidebar-heading'>
        Categories
    </div>

    {% for category in categories %}
        <li class='nav-item'>
            <a class='nav-link' href="{% url 'category_details_view' category.category_name %}">
                <i class='fas fa-fw fa-folder-open'></i>
                <span class='text-uppercase'>{{ category }}</span>
                <span class='badge-custom'>
                    {{ category.count_active_auctions }}
                </span>
            </a>
        </li>
    {% endfor %}
    
{% endblock %}


{% block body %}
    <!-- Page Heading -->
    <h1 class='h3 mb-4 text-gray-800'>Dashboard</h1>

    <div class='row'>
    
        <div class='col-xl-3 col-md-6 mb-4'>
            <div class='card border-left-blue shadow h-100 py-2'>
                <div class='card-body'>
                    <div class='row no-gutters align-items-center'>
                        <div class='col mr-2'>
                            <div class='text-xs font-weight-bold text-primary text-uppercase mb-1'>
                                Auctions
                            </div>
                            <div class='h5 mb-0 font-weight-bold text-gray-800'>
                                {{ auctions_count }}
                            </div>
                        </div>
                        <div class='col-auto'>
                            <i class='fas fa-shopping-cart fa-2x text-gray-300'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='col-xl-3 col-md-6 mb-4'>
            <div class='card border-left-orange shadow h-100 py-2'>
                <div class='card-body'>
                    <div class='row no-gutters align-items-center'>
                        <div class='col mr-2'>
                            <div class='text-xs font-weight-bold text-primary text-uppercase mb-1'>
                                Bids
                            </div>
                            <div class='h5 mb-0 font-weight-bold text-gray-800'>
                                {{ bids_count }}
                            </div>
                        </div>
                        <div class='col-auto'>
                            <i class='fas fa-hammer fa-2x text-gray-300'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='col-xl-3 col-md-6 mb-4'>
            <div class='card border-left-green shadow h-100 py-2'>
                <div class='card-body'>
                    <div class='row no-gutters align-items-center'>
                        <div class='col mr-2'>
                            <div class='text-xs font-weight-bold text-primary text-uppercase mb-1'>
                                Categories
                            </div>
                            <div class='h5 mb-0 font-weight-bold text-gray-800'>
                                {{ categories_count }}
                            </div>
                        </div>
                        <div class='col-auto'>
                            <i class='fas fa-folder-open fa-2x text-gray-300'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='col-xl-3 col-md-6 mb-4'>
            <div class='card border-left-red shadow h-100 py-2'>
                <div class='card-body'>
                    <div class='row no-gutters align-items-center'>
                        <div class='col mr-2'>
                            <div class='text-xs font-weight-bold text-primary text-uppercase mb-1'>
                                Users
                            </div>
                            <div class='h5 mb-0 font-weight-bold text-gray-800'>
                                {{ users_count }}
                            </div>
                        </div>
                        <div class='col-auto'>
                            <i class='fas fa-users fa-2x text-gray-300'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class='row'>
        <div class='col-lg-6'>
            <div class='card mb-4'>
                <div class='card-header'>
                    <i class='fas fa-chart-bar me-1'></i>
                    Top Categories
                </div>
                <div class='card-body'>
                    <canvas id='myBarChart' width='100%' height='50'></canvas>
                </div>
            </div>
        </div>
        <div class='col-lg-6'>
            <div class='card mb-4'>
                <div class='card-header'>
                    <i class='fas fa-chart-pie me-1'></i>
                    The Most Expensive Auction Items
                </div>
                <div class='card-body'>
                    <canvas id='myPieChart' width='100%' height='50'></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class='card mb-4'>
        <div class='card-header'>
            <i class='fas fa-chart-area me-1'></i>
            Auctions by Category
        </div>
        <div class='card-body'>
            <canvas id='myAreaChart' width='100%' height='30'></canvas>
        </div>
    </div>

    <div class='card mb-4'>
        <div class='card-header'>
            <i class='fas fa-table me-1'></i>
            All Auctions
        </div>
        <div class='card-body'>
        
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th scope='col'>Title</th>
                        <th scope='col'>Category</th>
                        <th scope='col'>Date Created</th>
                        <th scope='col'>Starting Bid</th>
                        <th scope='col'>Current Bid</th>
                        <th scope='col'>Buyer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for auction in pages %}
                        <tr>
                            <td>{{ auction.title }}</td>
                            <td>{{ auction.category }}</td>
                            <td>{{ auction.date_created }}</td>
                            <td>{{ auction.starting_bid }}</td>
                            <td>{{ auction.current_bid }}</td>
                            <td>{{ auction.buyer }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% if pages.has_other_pages %}
                <div class='d-flex justify-content-center'>
                    <ul class='pagination'>
                        {% if pages.has_previous %}
                            <li class='page-item'>
                                <a class='page-link' href='?page={{ pages.previous_page_number }}'>
                                    &laquo;
                                </a>
                            </li>
                        {% else %}
                            <li class='page-item disabled'>
                                <a class='page-link' href='#'>&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in pages.paginator.page_range %}
                            {% if pages.number == i %}
                                <li class='page-item active'>
                                    <a class='page-link' href='#'>{{ i }}</a>
                                </li>
                            {% else %}
                                <li class='page-item'>
                                    <a class='page-link' href='?page={{ i }}'>{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if pages.has_next %}
                            <li class='page-item'>
                                <a class='page-link' href='?page={{ pages.next_page_number }}'>&raquo;</a>
                            </li>
                        {% else %}
                            <li class='page-item disabled'>
                                <a class='page-link' href='#'>&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        
        </div>
    </div>


{% endblock %}
